<a href="https://colab.research.google.com/github/crazy85128x/hahow-python/blob/main/pandas_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 探索表格資料 - pandas常用語法
https://github.com/mwaskom/seaborn-data/blob/master/tips.csv

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
tips = pd.read_csv(url)

In [32]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
# tips這個變數的 type是什麼?
type(tips)

pandas.core.frame.DataFrame

In [4]:
# head(10) 就是抓資料最前面的10筆資料
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [5]:
#tail(5) 就是抓資料最後的5筆資料
tips.tail(5)

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [6]:
# tips 這組資料共有幾個 row(列) 幾個 column(欄)?
tips.shape

(244, 7)

In [7]:
# tips 有哪些欄位?
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [8]:
# deseribe 就是把所有資訊列出來
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [9]:
# 挑選出特定的 column(欄)
tips['sex']

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: object

In [10]:
# 列出sex欄位獨一無二的項目
# unique 就是可以把獨一無二的東西列書來
tips['sex'].unique()

array(['Female', 'Male'], dtype=object)

#### practice

In [33]:
# 列出day欄位獨一無二的項目
tips['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [34]:
# 列出smoker欄位獨一無二的項目
tips['smoker'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
# 挑選出多個特定的 column
tips[['sex','tip']]

        sex   tip
0    Female  1.01
1      Male  1.66
2      Male  3.50
3      Male  3.31
4    Female  3.61
..      ...   ...
239    Male  5.92
240  Female  2.00
241    Male  2.00
242    Male  1.75
243  Female  3.00

[244 rows x 2 columns]

#### practice

In [35]:
# 試著選出任意 4 個 column，並看看shape的值是否符合預期
tips[['sex','smoker','tip','size']]

        sex smoker   tip  size
0    Female     No  1.01     2
1      Male     No  1.66     3
2      Male     No  3.50     3
3      Male     No  3.31     2
4    Female     No  3.61     4
..      ...    ...   ...   ...
239    Male     No  5.92     3
240  Female    Yes  2.00     2
241    Male    Yes  2.00     2
242    Male     No  1.75     2
243  Female     No  3.00     2

[244 rows x 4 columns]

In [37]:
# 單一 column 按數字大小排序 sort_values(排序條件) 不寫就是->大排到小
# sort_values(ascending=False) -> 小排到大
tips['total_bill'].sort_values()

67      3.07
92      5.75
111     7.25
172     7.25
149     7.51
       ...
182    45.35
156    48.17
59     48.27
212    48.33
170    50.81
Name: total_bill, Length: 244, dtype: float64

In [15]:
# 多個 column 按數字大小排序
tips[["total_bill","tip"]].sort_values("total_bill")

     total_bill    tip
67         3.07   1.00
92         5.75   1.00
111        7.25   1.00
172        7.25   5.15
149        7.51   2.00
..          ...    ...
182       45.35   3.50
156       48.17   5.00
59        48.27   6.73
212       48.33   9.00
170       50.81  10.00

[244 rows x 2 columns]

In [16]:
# 單一條件
tips[tips['smoker'] == 'No']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
235       10.07  1.25    Male     No   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[151 rows x 7 columns]

In [17]:
# 多重條件 and 
tips[(tips['smoker'] == 'Yes') & (tips['sex']=='Male')]

     total_bill    tip   sex smoker   day    time  size
56        38.01   3.00  Male    Yes   Sat  Dinner     4
58        11.24   1.76  Male    Yes   Sat  Dinner     2
60        20.29   3.21  Male    Yes   Sat  Dinner     2
61        13.81   2.00  Male    Yes   Sat  Dinner     2
62        11.02   1.98  Male    Yes   Sat  Dinner     2
63        18.29   3.76  Male    Yes   Sat  Dinner     4
69        15.01   2.09  Male    Yes   Sat  Dinner     2
76        17.92   3.08  Male    Yes   Sat  Dinner     2
80        19.44   3.00  Male    Yes  Thur   Lunch     2
83        32.68   5.00  Male    Yes  Thur   Lunch     2
90        28.97   3.00  Male    Yes   Fri  Dinner     2
95        40.17   4.73  Male    Yes   Fri  Dinner     4
96        27.28   4.00  Male    Yes   Fri  Dinner     2
97        12.03   1.50  Male    Yes   Fri  Dinner     2
98        21.01   3.00  Male    Yes   Fri  Dinner     2
105       15.36   1.64  Male    Yes   Sat  Dinner     2
106       20.49   4.06  Male    Yes   Sat  Dinner     2
107       25.21   4.29  Male    Yes   Sat  Dinner     2
138       16.00   2.00  Male    Yes  Thur   Lunch     2
170       50.81  10.00  Male    Yes   Sat  Dinner     3
171       15.81   3.16  Male    Yes   Sat  Dinner     2
172        7.25   5.15  Male    Yes   Sun  Dinner     2
173       31.85   3.18  Male    Yes   Sun  Dinner     2
174       16.82   4.00  Male    Yes   Sun  Dinner     2
175       32.90   3.11  Male    Yes   Sun  Dinner     2
176       17.89   2.00  Male    Yes   Sun  Dinner     2
177       14.48   2.00  Male    Yes   Sun  Dinner     2
179       34.63   3.55  Male    Yes   Sun  Dinner     2
180       34.65   3.68  Male    Yes   Sun  Dinner     4
181       23.33   5.65  Male    Yes   Sun  Dinner     2
182       45.35   3.50  Male    Yes   Sun  Dinner     3
183       23.17   6.50  Male    Yes   Sun  Dinner     4
184       40.55   3.00  Male    Yes   Sun  Dinner     2
187       30.46   2.00  Male    Yes   Sun  Dinner     5
189       23.10   4.00  Male    Yes   Sun  Dinner     3
190       15.69   1.50  Male    Yes   Sun  Dinner     2
192       28.44   2.56  Male    Yes  Thur   Lunch     2
193       15.48   2.02  Male    Yes  Thur   Lunch     2
194       16.58   4.00  Male    Yes  Thur   Lunch     2
196       10.34   2.00  Male    Yes  Thur   Lunch     2
199       13.51   2.00  Male    Yes  Thur   Lunch     2
200       18.71   4.00  Male    Yes  Thur   Lunch     3
204       20.53   4.00  Male    Yes  Thur   Lunch     4
206       26.59   3.41  Male    Yes   Sat  Dinner     3
207       38.73   3.00  Male    Yes   Sat  Dinner     4
208       24.27   2.03  Male    Yes   Sat  Dinner     2
210       30.06   2.00  Male    Yes   Sat  Dinner     3
211       25.89   5.16  Male    Yes   Sat  Dinner     4
216       28.15   3.00  Male    Yes   Sat  Dinner     5
217       11.59   1.50  Male    Yes   Sat  Dinner     2
218        7.74   1.44  Male    Yes   Sat  Dinner     2
220       12.16   2.20  Male    Yes   Fri   Lunch     2
222        8.58   1.92  Male    Yes   Fri   Lunch     1
224       13.42   1.58  Male    Yes   Fri   Lunch     2
230       24.01   2.00  Male    Yes   Sat  Dinner     4
231       15.69   3.00  Male    Yes   Sat  Dinner     3
234       15.53   3.00  Male    Yes   Sat  Dinner     2
236       12.60   1.00  Male    Yes   Sat  Dinner     2
237       32.83   1.17  Male    Yes   Sat  Dinner     2
241       22.67   2.00  Male    Yes   Sat  Dinner     2

#### practice

In [41]:
# 篩選出在周日用餐且小費給5元以上的資料
tips[(tips['day'] == 'Sun') & (tips['tip']>=5)]

     total_bill   tip     sex smoker  day    time  size
11        35.26  5.00  Female     No  Sun  Dinner     4
44        30.40  5.60    Male     No  Sun  Dinner     4
46        22.23  5.00    Male     No  Sun  Dinner     2
47        32.40  6.00    Male     No  Sun  Dinner     4
52        34.81  5.20  Female     No  Sun  Dinner     4
116       29.93  5.07    Male     No  Sun  Dinner     4
155       29.85  5.14  Female     No  Sun  Dinner     5
156       48.17  5.00    Male     No  Sun  Dinner     6
172        7.25  5.15    Male    Yes  Sun  Dinner     2
181       23.33  5.65    Male    Yes  Sun  Dinner     2
183       23.17  6.50    Male    Yes  Sun  Dinner     4
185       20.69  5.00    Male     No  Sun  Dinner     5

In [19]:
tips.groupby('time')


![alt text](https://i.stack.imgur.com/sgCn1.jpg)

In [20]:
# 在 groupby之後，使用 size() 可以計算各類別分別有幾個 row
tips.groupby('time').size()

time
Dinner    176
Lunch      68
dtype: int64

In [21]:
# 在 groupby之後並選定 column後，使用 mean()可以算出各類別該 column的平均值
tips.groupby('time')['total_bill'].median()

time
Dinner    18.390
Lunch     15.965
Name: total_bill, dtype: float64

#### practice

In [42]:
# 試著找出每一天(Thur, Fri....)給過最少的小費分別是多少錢?試著畫出柱狀圖 hint: 使用 min()
tips.groupby('day')['tip'].min()

day
Fri     1.00
Sat     1.00
Sun     1.01
Thur    1.25
Name: tip, dtype: float64

##Real world data - the Titanic
https://github.com/mwaskom/seaborn-data/blob/master/titanic.csv

In [23]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
df

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [24]:
# 最貴的票價是多少？
df['fare'].max()

512.3292

In [25]:
# 最年輕的乘客與最老的乘客差幾歲？
df["age"].min()

0.42

In [26]:
# 乘客平均年齡為幾歲？
df["age"].mean()

29.69911764705882

In [27]:
# 每個乘船處各有多少乘客上船？
df.groupby("embark_town").size()

embark_town
Cherbourg      168
Queenstown      77
Southampton    644
dtype: int64

In [28]:
# 男性、女性、孩童倖存者各有多少人?
df[df["survived"]==1].groupby("who").size()

who
child     49
man       88
woman    205
dtype: int64

In [29]:
# 男人、女人、兒童存活率為多少？
total = df.groupby('who').size()
total

who
child     83
man      537
woman    271
dtype: int64

In [30]:
alive = df[df["survived"] == 1].groupby('who').size()
alive
# alive = df.groupby('who')['survived'].sum()

who
child     49
man       88
woman    205
dtype: int64

In [31]:
ratio = alive / total
ratio*100

who
child    59.036145
man      16.387337
woman    75.645756
dtype: float64

###資料處理技巧必讀教材: 
https://leemeng.tw/practical-pandas-tutorial-for-aspiring-data-scientists.html